* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 95vw;
    height: 15vh;
}

ul {
    display: flex;
    width: 95vw;
    list-style: none;
    height: 7.5vh;
}

#firstHeaderBoxleft {
    height: 7.5vh;
    display: flex;
    width: 60vw;
    gap: 10px;
    align-items: center;
}

#firstHeaderBoxleftIcon {
    background-image: url(assets/black-heart.png);
    background-size: cover;
    width: 50px;
    height: 30px;
}

#firstHeaderBoxright {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
}

#secondHeader {
    height: 7.5vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

#secondHeaderIcon {
    background-image: url(assets/npm-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 30px;
}

#site-search {
    width: 70vw;
    height: 30px;
    background-color: #f2f2f2;
    border: 0;
}

button {
    width: 60px;
    height: 30px;
    border-radius: 0%;
    background-color: white;
    border: 0;
    font-size: 15px;
}

.buttonRed {
    background-color: red;
    color: white;
}

main {
    height: 60vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
    background-color: #f8f4f4;

}

main>h1 {
    font-size: 80px;
}

main>p {
    width: 40vw;
}

main>div {
    display: flex;
    gap: 50px;
}

main>div>button {
    width: 100px;
    height: 40px;
}

#firstSection {
    height: 60vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

#firstSection>div {
    background-image: url(assets/imagenFirstsection.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border: none !important;
}

#firstSection>h2 {
    font-size: 40px;
}

#firstSection>p {
    width: 50vw;
}

#secondSection {
    height: 50vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

#secondSection>div {
    display: flex;
    gap: 50px;
}

h4 {
    color: red;
}

.icon {
    background-image: url(assets/imagenFirstsection.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

#secondSection>button {
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
}